- if flash[:notice].present?
  .alert.alert-success
    = flash[:notice]
- cache cache_key do
  %table.table.table-bordered
    %thead
      %tr
        %th
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
        %th Sun
    %tbody
      - @calendar_dates.each_slice(7).each do |week|
        %tr
          %td
            - if week.last.date.day <= 7
              = week.last.date.strftime('%B')

          - week.each do |calendar_date|
            %td
              - cache calendar_date.events do
                %strong.left
                  = calendar_date.date.day

                - calendar_date.events.each do |event|
                  .row
                    .col-md-6
                      = "#{event.start_time.strftime('%H:%M')} - #{event.end_time.strftime('%H:%M')}"
                    .col-md-6
                      = event.title


